<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">
<head>
    <title>View company correspondence</title>
</head>

<body>
<div id="criteria-main-content" layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form id="correspondence-form" class="form" th:action="@{''}" method="post">
                <header>
                    <h1 id="page-title" class="govuk-heading-l">
                        View correspondence
                    </h1>
                </header>
                <input id="next-button" class="govuk-button" type="submit" role="button" value="Start now"/>
            </form>
        </div>
    </div>
</div>
</body>

</html>
